__pycache__
.history
.hypothesis/
build/
reports/
env
.solhint.json
raw_data.json
raw_data_sha.json
raw_data_keccak.json
contracts/SmtSha.sol
contracts/SmtKeccak.sol
contracts/PublicSmtSha.sol
contracts/PublicSmtKeccak.sol
contracts/SetSmtSha.sol
contracts/SetSmtKeccak.sol
contracts/PublicSetSmtSha.sol
contracts/PublicSetSmtKeccak.sol
node_modules
