__pycache__
.history
.hypothesis/
build/
reports/
env
.solhint.json
raw_data.json
raw_data_sha.json
raw_data_keccak.json
contracts/SmtSha.sol
contracts/SmtKeccak.sol
contracts/PublicSmtSha.sol
contracts/PublicSmtKeccak.sol
contracts/SmtSetSha.sol
contracts/SmtSetKeccak.sol
contracts/PublicSmtSetSha.sol
contracts/PublicSmtSetKeccak.sol
node_modules
